body{margin:0;background:#eaeded;font-family:Arial;}

.navbar{
 background:#131921;
 padding:10px;
 display:flex;
 align-items:center;
}

.logo{width:100px;}

.search{
 flex:1;
 padding:10px;
 border:none;
}

.nav-right{color:white;margin-left:20px;}

.banner img{
 width:100%;
 height:300px;
 object-fit:cover;
}

.grid{
 display:grid;
 grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
 gap:20px;
 padding:20px;
}

.card{
 background:white;
 padding:15px;
 border-radius:5px;
 transition:.3s;
}

.card:hover{
 transform:scale(1.05);
 box-shadow:0 0 15px #ccc;
}

.card img{width:100%;height:150px;object-fit:contain;}

button{
 background:#febd69;
 border:none;
 padding:8px;
 cursor:pointer;
 width:100%;
}
