.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px;
  background:#131921;
  color:white;
  position:relative;
}

.logo{
  font-size:24px;
  font-weight:bold;
}

.kart{
  color:#ff9900;
}

.search-box{
  display:flex;
  align-items:center;
  background:white;
  padding:5px;
  border-radius:5px;
}

.search-box input{
  border:none;
  outline:none;
  padding:6px;
  width:250px;
}

.search-icon{
  color:#131921;
}

.menu{
  display:flex;
  gap:20px;
  align-items:center;
}

.user{
  color:white;
  text-decoration:none;
}

.cart{
  font-size:18px;
}

.admin-toggle{
  font-size:22px;
  cursor:pointer;
}

/* ADMIN PANEL */

.admin-panel{
  position:absolute;
  right:20px;
  top:60px;
  background:white;
  color:black;
  padding:15px;
  border-radius:8px;
  width:180px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.admin-panel h3{
  margin-bottom:10px;
}

.admin-panel button{
  width:100%;
  margin-bottom:8px;
  padding:8px;
  border:none;
  background:#ff9900;
  color:white;
  cursor:pointer;
  border-radius:5px;
}
