.grid {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #dc880a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.buy-btn:hover {
  background: #1cbc84;
}
